:root {
    --black: #04214f;
    --grey: #6a748a;
    --blue1: #20497a;
    --blue2: #bccee3;
    --brown: #5e4d09;
    --red1: #ba233f;
    --red2: #ab264e;
    --white: #e6e7eb;
    --lightblue: #91bbff;
}
