body {
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-columns: 1fr;
    margin: 5em 2.5em 2.5em 2.5em;
}

body > main{
    grid-area: content;
}

body > header{
    grid-area: header;
}
